In [2]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
import lightgbm as lgb
from lightgbm import LGBMClassifier
from kuma_utils.stats import PropensityScoreMatching, make_demographic_table
from kuma_utils.preprocessing import PrepPipeline, SelectCategorical, SelectNumerical, DummyVarible, DistTransformer, Cast

In [3]:
from catboost.datasets import adult
train, test = adult()
full_dataset = pd.concat([train.assign(group='train'), test.assign(group='test')], axis=0)

# Make demopgraphic table (a.k.a. Table 1)
for numeric variables:
- run KS test
    - if the varible follows normal distribution, run T test
    - if no, run Mann Whitney U test
    
for categorical variables:
- run chi-squared test

In [4]:
full_dataset = full_dataset[['occupation', 'education', 'age', 'sex', 'fnlwgt', 'capital-loss', 'group']].copy()  # To make it simple

In [5]:
make_demographic_table(full_dataset, group_col='group', display_cols=full_dataset.columns)

,_item,_type,_ks_stat,_stat_test,_nan_info,train,test,p-value
0,N,numerical,NaN,None,False,32561,16281,NaN
1,"occupation=Armed-Forces, n(%)",categorical,NaN,Chi2,False,9 (0.0%),6 (0.0%),0.784203
2,"occupation=Craft-repair, n(%)",categorical,NaN,Chi2,False,4099 (12.6%),2013 (12.4%),0.488556
3,"occupation=Exec-managerial, n(%)",categorical,NaN,Chi2,False,4066 (12.5%),2020 (12.4%),0.811452
4,"occupation=Farming-fishing, n(%)",categorical,NaN,Chi2,False,994 (3.1%),496 (3.0%),0.992125
5,"occupation=Handlers-cleaners, n(%)",categorical,NaN,Chi2,False,1370 (4.2%),702 (4.3%),0.606379
6,"occupation=Machine-op-inspct, n(%)",categorical,NaN,Chi2,False,2002 (6.1%),1020 (6.3%),0.628453
7,"occupation=NaN, n(%)",categorical,NaN,Chi2,True,1843 (5.7%),966 (5.9%),0.229485
8,"occupation=Other-service, n(%)",categorical,NaN,Chi2,False,3295 (10.1%),1628 (10.0%),0.689444
9,"occupation=Priv-house-serv, n(%)",categorical,NaN,Chi2,False,149 (0.5%),93 (0.6%),0.105789
10,"occupation=Prof-specialty, n(%)",categorical,NaN,Chi2,False,4140 (12.7%),2032 (12.5%),0.472377
11,"occupation=Protective-serv, n(%)",categorical,NaN,Chi2,False,649 (2.0%),334 (2.1%),0.690444
12,"occupation=Sales, n(%)",categorical,NaN,Chi2,False,3650 (11.2%),1854 (11.4%),0.568310
13,"occupation=Tech-support, n(%)",categorical,NaN,Chi2,False,928 (2.9%),518 (3.2%),0.044452
14,"occupation=Transport-moving, n(%)",categorical,NaN,Chi2,False,1597 (4.9%),758 (4.7%),0.234799
15,"education=11th, n(%)",categorical,NaN,Chi2,False,1175 (3.6%),637 (3.9%),0.098968
16,"education=12th, n(%)",categorical,NaN,Chi2,False,433 (1.3%),224 (1.4%),0.707975
17,"education=1st-4th, n(%)",categorical,NaN,Chi2,False,168 (0.5%),79 (0.5%),0.701253
18,"education=5th-6th, n(%)",categorical,NaN,Chi2,False,333 (1.0%),176 (1.1%),0.581611
19,"education=7th-8th, n(%)",categorical,NaN,Chi2,False,646 (2.0%),309 (1.9%),0.539993
20,"education=9th, n(%)",categorical,NaN,Chi2,False,514 (1.6%),242 (1.5%),0.459860
21,"education=Assoc-acdm, n(%)",categorical,NaN,Chi2,False,1067 (3.3%),534 (3.3%),1.000000
22,"education=Assoc-voc, n(%)",categorical,NaN,Chi2,False,1382 (4.2%),679 (4.2%),0.719776
23,"education=Bachelors, n(%)",categorical,NaN,Chi2,False,5355 (16.4%),2670 (16.4%),0.906080
24,"education=Doctorate, n(%)",categorical,NaN,Chi2,False,413 (1.3%),181 (1.1%),0.148373
25,"education=HS-grad, n(%)",categorical,NaN,Chi2,False,10501 (32.3%),5283 (32.4%),0.665592
26,"education=Masters, n(%)",categorical,NaN,Chi2,False,1723 (5.3%),934 (5.7%),0.043013
27,"education=Preschool, n(%)",categorical,NaN,Chi2,False,51 (0.2%),32 (0.2%),0.371752
28,"education=Prof-school, n(%)",categorical,NaN,Chi2,False,576 (1.8%),258 (1.6%),0.148407
29,"education=Some-college, n(%)",categorical,NaN,Chi2,False,7291 (22.4%),3587 (22.0%),0.373524
30,"sex=Male, n(%)",categorical,NaN,Chi2,False,21790 (66.9%),10860 (66.7%),0.638279
31,"age, mean(std)",numerical,0.063159,U,False,38.582 (13.640),38.767 (13.849),0.322386
32,"fnlwgt, mean(std)",numerical,0.088683,U,False,189778.367 (105548.357),189435.678 (105711.661),0.571033
33,"capital-loss, mean(std)",numerical,0.539223,U,False,87.304 (402.954),87.899 (403.093),0.910656

# Propensity score matching
Matching methods
- Greedy: very slow / more matched pairs
- Hungarian algorithm: very fast / slightly less pairs

In [6]:
psm_greedy = PropensityScoreMatching(
    match_cols=['occupation', 'education', 'age', 'sex', 'fnlwgt', 'capital-loss'], 
    group_col='group', 
    categorical_encoder=PrepPipeline([SelectCategorical(), DummyVarible(dummy_na=True)]),
    numerical_encoder=PrepPipeline([SelectNumerical(), DistTransformer('standard')]),
    matching_method='greedy')
make_demographic_table(
    psm_greedy.run(full_dataset.sample(10000)), group_col='group', display_cols=full_dataset.columns) #  ~60s

Logger created at 24/02/12:09:39:20
eval_metric automatically selected.
09:39:20 [None]	best score is 0.536398

,_item,_type,_ks_stat,_stat_test,_nan_info,test,train,p-value
0,N,numerical,NaN,None,False,3346,3346,NaN
1,"occupation=Armed-Forces, n(%)",categorical,NaN,Chi2,False,1 (0.0%),1 (0.0%),1.000000
2,"occupation=Craft-repair, n(%)",categorical,NaN,Chi2,False,471 (14.1%),451 (13.5%),0.500392
3,"occupation=Exec-managerial, n(%)",categorical,NaN,Chi2,False,410 (12.3%),407 (12.2%),0.940471
4,"occupation=Farming-fishing, n(%)",categorical,NaN,Chi2,False,107 (3.2%),115 (3.4%),0.632792
5,"occupation=Handlers-cleaners, n(%)",categorical,NaN,Chi2,False,118 (3.5%),120 (3.6%),0.947374
6,"occupation=Machine-op-inspct, n(%)",categorical,NaN,Chi2,False,209 (6.2%),207 (6.2%),0.959622
7,"occupation=NaN, n(%)",categorical,NaN,Chi2,True,183 (5.5%),178 (5.3%),0.828641
8,"occupation=Other-service, n(%)",categorical,NaN,Chi2,False,361 (10.8%),363 (10.8%),0.968608
9,"occupation=Priv-house-serv, n(%)",categorical,NaN,Chi2,False,16 (0.5%),19 (0.6%),0.734648
10,"occupation=Prof-specialty, n(%)",categorical,NaN,Chi2,False,403 (12.0%),397 (11.9%),0.850566
11,"occupation=Protective-serv, n(%)",categorical,NaN,Chi2,False,73 (2.2%),73 (2.2%),1.000000
12,"occupation=Sales, n(%)",categorical,NaN,Chi2,False,360 (10.8%),383 (11.4%),0.391986
13,"occupation=Tech-support, n(%)",categorical,NaN,Chi2,False,106 (3.2%),116 (3.5%),0.539007
14,"occupation=Transport-moving, n(%)",categorical,NaN,Chi2,False,147 (4.4%),136 (4.1%),0.543572
15,"education=11th, n(%)",categorical,NaN,Chi2,False,134 (4.0%),126 (3.8%),0.657904
16,"education=12th, n(%)",categorical,NaN,Chi2,False,54 (1.6%),51 (1.5%),0.844039
17,"education=1st-4th, n(%)",categorical,NaN,Chi2,False,22 (0.7%),19 (0.6%),0.754046
18,"education=5th-6th, n(%)",categorical,NaN,Chi2,False,27 (0.8%),31 (0.9%),0.692372
19,"education=7th-8th, n(%)",categorical,NaN,Chi2,False,66 (2.0%),70 (2.1%),0.794939
20,"education=9th, n(%)",categorical,NaN,Chi2,False,57 (1.7%),53 (1.6%),0.773026
21,"education=Assoc-acdm, n(%)",categorical,NaN,Chi2,False,110 (3.3%),110 (3.3%),1.000000
22,"education=Assoc-voc, n(%)",categorical,NaN,Chi2,False,146 (4.4%),153 (4.6%),0.722582
23,"education=Bachelors, n(%)",categorical,NaN,Chi2,False,551 (16.5%),560 (16.7%),0.792691
24,"education=Doctorate, n(%)",categorical,NaN,Chi2,False,36 (1.1%),39 (1.2%),0.816348
25,"education=HS-grad, n(%)",categorical,NaN,Chi2,False,1085 (32.4%),1078 (32.2%),0.875387
26,"education=Masters, n(%)",categorical,NaN,Chi2,False,191 (5.7%),196 (5.9%),0.834075
27,"education=Preschool, n(%)",categorical,NaN,Chi2,False,6 (0.2%),8 (0.2%),0.789052
28,"education=Prof-school, n(%)",categorical,NaN,Chi2,False,53 (1.6%),36 (1.1%),0.087750
29,"education=Some-college, n(%)",categorical,NaN,Chi2,False,727 (21.7%),751 (22.4%),0.497917
30,"sex=Male, n(%)",categorical,NaN,Chi2,False,2241 (67.0%),2228 (66.6%),0.755461
31,"age, mean(std)",numerical,0.065371,U,False,38.680 (13.728),38.709 (13.593),0.823160
32,"fnlwgt, mean(std)",numerical,0.097637,U,False,191554.349 (108608.149),189273.210 (108033.713),0.427675
33,"capital-loss, mean(std)",numerical,0.539442,U,False,82.979 (388.090),74.297 (366.838),0.400878

In [7]:
psm_fast = PropensityScoreMatching(
    match_cols=['occupation', 'education', 'age', 'sex', 'fnlwgt', 'capital-loss'],
    group_col='group', 
    categorical_encoder=PrepPipeline([SelectCategorical(), DummyVarible(dummy_na=True)]),
    numerical_encoder=PrepPipeline([SelectNumerical(), DistTransformer('standard')]),
    matching_method='hungarian')
make_demographic_table(
    psm_fast.run(full_dataset.sample(10000)), group_col='group', display_cols=full_dataset.columns)  # ~0.5s

Logger created at 24/02/12:09:40:19
eval_metric automatically selected.
09:40:19 [None]	best score is 0.524922

,_item,_type,_ks_stat,_stat_test,_nan_info,test,train,p-value
0,N,numerical,NaN,None,False,3341,3341,NaN
1,"occupation=Craft-repair, n(%)",categorical,NaN,Chi2,False,424 (12.7%),416 (12.5%),0.796172
2,"occupation=Exec-managerial, n(%)",categorical,NaN,Chi2,False,412 (12.3%),427 (12.8%),0.605246
3,"occupation=Farming-fishing, n(%)",categorical,NaN,Chi2,False,101 (3.0%),99 (3.0%),0.942766
4,"occupation=Handlers-cleaners, n(%)",categorical,NaN,Chi2,False,148 (4.4%),151 (4.5%),0.905797
5,"occupation=Machine-op-inspct, n(%)",categorical,NaN,Chi2,False,210 (6.3%),226 (6.8%),0.457470
6,"occupation=NaN, n(%)",categorical,NaN,Chi2,True,176 (5.3%),195 (5.8%),0.336256
7,"occupation=Other-service, n(%)",categorical,NaN,Chi2,False,324 (9.7%),292 (8.7%),0.189888
8,"occupation=Priv-house-serv, n(%)",categorical,NaN,Chi2,False,18 (0.5%),15 (0.4%),0.727076
9,"occupation=Prof-specialty, n(%)",categorical,NaN,Chi2,False,426 (12.8%),424 (12.7%),0.970713
10,"occupation=Protective-serv, n(%)",categorical,NaN,Chi2,False,81 (2.4%),84 (2.5%),0.874726
11,"occupation=Sales, n(%)",categorical,NaN,Chi2,False,382 (11.4%),391 (11.7%),0.759618
12,"occupation=Tech-support, n(%)",categorical,NaN,Chi2,False,111 (3.3%),107 (3.2%),0.836335
13,"occupation=Transport-moving, n(%)",categorical,NaN,Chi2,False,144 (4.3%),132 (4.0%),0.498891
14,"education=11th, n(%)",categorical,NaN,Chi2,False,128 (3.8%),127 (3.8%),1.000000
15,"education=12th, n(%)",categorical,NaN,Chi2,False,43 (1.3%),34 (1.0%),0.359151
16,"education=1st-4th, n(%)",categorical,NaN,Chi2,False,18 (0.5%),16 (0.5%),0.863487
17,"education=5th-6th, n(%)",categorical,NaN,Chi2,False,38 (1.1%),35 (1.0%),0.813920
18,"education=7th-8th, n(%)",categorical,NaN,Chi2,False,56 (1.7%),60 (1.8%),0.778716
19,"education=9th, n(%)",categorical,NaN,Chi2,False,48 (1.4%),48 (1.4%),1.000000
20,"education=Assoc-acdm, n(%)",categorical,NaN,Chi2,False,111 (3.3%),113 (3.4%),0.945814
21,"education=Assoc-voc, n(%)",categorical,NaN,Chi2,False,144 (4.3%),146 (4.4%),0.952124
22,"education=Bachelors, n(%)",categorical,NaN,Chi2,False,547 (16.4%),506 (15.1%),0.179265
23,"education=Doctorate, n(%)",categorical,NaN,Chi2,False,43 (1.3%),48 (1.4%),0.672880
24,"education=HS-grad, n(%)",categorical,NaN,Chi2,False,1072 (32.1%),1093 (32.7%),0.601119
25,"education=Masters, n(%)",categorical,NaN,Chi2,False,178 (5.3%),179 (5.4%),1.000000
26,"education=Preschool, n(%)",categorical,NaN,Chi2,False,5 (0.1%),6 (0.2%),1.000000
27,"education=Prof-school, n(%)",categorical,NaN,Chi2,False,64 (1.9%),67 (2.0%),0.859917
28,"education=Some-college, n(%)",categorical,NaN,Chi2,False,750 (22.4%),761 (22.8%),0.769952
29,"sex=Male, n(%)",categorical,NaN,Chi2,False,2259 (67.6%),2251 (67.4%),0.854936
30,"age, mean(std)",numerical,0.066422,U,False,38.598 (13.836),38.527 (13.606),0.993618
31,"fnlwgt, mean(std)",numerical,0.083199,U,False,188694.790 (106461.471),187382.332 (101389.172),0.837316
32,"capital-loss, mean(std)",numerical,0.539218,U,False,80.645 (390.287),86.860 (400.982),0.499567

In [8]:
psm_lgb = PropensityScoreMatching(
    match_cols=['occupation', 'education', 'age', 'sex', 'fnlwgt', 'capital-loss'],
    group_col='group', 
    categorical_encoder=PrepPipeline([SelectCategorical(), OrdinalEncoder()]),
    numerical_encoder=PrepPipeline([SelectNumerical()]),
    model=LGBMClassifier,
    trainer_params={
        'params': {
            'objective': 'binary',
            'metric': 'auc',
            'verbosity': 0,
        },
        'fit_params': {
            'num_boost_round': 500,
            'callbacks': [lgb.early_stopping(stopping_rounds=50, verbose=True), lgb.log_evaluation(25)]
        }
    },
    fit_method='cv',
    matching_method='hungarian')
make_demographic_table(
    psm_lgb.run(full_dataset.sample(10000)), group_col='group', display_cols=full_dataset.columns)  # ~10s

Logger created at 24/02/12:09:40:20
Training until validation scores don't improve for 50 rounds
[25]	cv_agg's valid auc: 0.507111 + 0.00409765
[50]	cv_agg's valid auc: 0.504013 + 0.00338955
Early stopping, best iteration is:
[8]	cv_agg's valid auc: 0.510841 + 0.0111668
09:40:21 [8]	best score is 0.510841

,_item,_type,_ks_stat,_stat_test,_nan_info,test,train,p-value
0,N,numerical,NaN,None,False,3003,3003,NaN
1,"occupation=Craft-repair, n(%)",categorical,NaN,Chi2,False,397 (13.2%),429 (14.3%),0.245460
2,"occupation=Exec-managerial, n(%)",categorical,NaN,Chi2,False,380 (12.7%),378 (12.6%),0.969005
3,"occupation=Farming-fishing, n(%)",categorical,NaN,Chi2,False,81 (2.7%),77 (2.6%),0.808881
4,"occupation=Handlers-cleaners, n(%)",categorical,NaN,Chi2,False,129 (4.3%),117 (3.9%),0.473896
5,"occupation=Machine-op-inspct, n(%)",categorical,NaN,Chi2,False,202 (6.7%),198 (6.6%),0.876617
6,"occupation=NaN, n(%)",categorical,NaN,Chi2,True,162 (5.4%),191 (6.4%),0.124510
7,"occupation=Other-service, n(%)",categorical,NaN,Chi2,False,310 (10.3%),313 (10.4%),0.932549
8,"occupation=Priv-house-serv, n(%)",categorical,NaN,Chi2,False,16 (0.5%),20 (0.7%),0.616016
9,"occupation=Prof-specialty, n(%)",categorical,NaN,Chi2,False,356 (11.9%),323 (10.8%),0.192245
10,"occupation=Protective-serv, n(%)",categorical,NaN,Chi2,False,70 (2.3%),43 (1.4%),0.013541
11,"occupation=Sales, n(%)",categorical,NaN,Chi2,False,327 (10.9%),337 (11.2%),0.711130
12,"occupation=Tech-support, n(%)",categorical,NaN,Chi2,False,90 (3.0%),71 (2.4%),0.150433
13,"occupation=Transport-moving, n(%)",categorical,NaN,Chi2,False,143 (4.8%),120 (4.0%),0.165353
14,"education=11th, n(%)",categorical,NaN,Chi2,False,110 (3.7%),98 (3.3%),0.437588
15,"education=12th, n(%)",categorical,NaN,Chi2,False,39 (1.3%),38 (1.3%),1.000000
16,"education=1st-4th, n(%)",categorical,NaN,Chi2,False,7 (0.2%),14 (0.5%),0.189654
17,"education=5th-6th, n(%)",categorical,NaN,Chi2,False,37 (1.2%),40 (1.3%),0.818561
18,"education=7th-8th, n(%)",categorical,NaN,Chi2,False,53 (1.8%),79 (2.6%),0.027787
19,"education=9th, n(%)",categorical,NaN,Chi2,False,38 (1.3%),44 (1.5%),0.578234
20,"education=Assoc-acdm, n(%)",categorical,NaN,Chi2,False,101 (3.4%),100 (3.3%),1.000000
21,"education=Assoc-voc, n(%)",categorical,NaN,Chi2,False,124 (4.1%),130 (4.3%),0.748529
22,"education=Bachelors, n(%)",categorical,NaN,Chi2,False,514 (17.1%),488 (16.3%),0.386903
23,"education=Doctorate, n(%)",categorical,NaN,Chi2,False,28 (0.9%),29 (1.0%),1.000000
24,"education=HS-grad, n(%)",categorical,NaN,Chi2,False,981 (32.7%),998 (33.2%),0.660490
25,"education=Masters, n(%)",categorical,NaN,Chi2,False,166 (5.5%),150 (5.0%),0.385980
26,"education=Preschool, n(%)",categorical,NaN,Chi2,False,3 (0.1%),4 (0.1%),1.000000
27,"education=Prof-school, n(%)",categorical,NaN,Chi2,False,46 (1.5%),39 (1.3%),0.512181
28,"education=Some-college, n(%)",categorical,NaN,Chi2,False,674 (22.4%),672 (22.4%),0.975314
29,"sex=Male, n(%)",categorical,NaN,Chi2,False,2038 (67.9%),1984 (66.1%),0.145935
30,"age, mean(std)",numerical,0.060983,U,False,37.300 (12.834),38.083 (13.435),0.066360
31,"fnlwgt, mean(std)",numerical,0.080711,U,False,192727.831 (107214.270),197600.767 (111598.382),0.229224
32,"capital-loss, mean(std)",numerical,0.539247,U,False,75.536 (377.543),71.901 (371.273),0.659579